{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>View Employee</h2>

<table class="table table-secondary table-striped table-hover">
    <tr>
        <th>Employee Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Email</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for i in empl %}
    <tr>

        <td>{{i.ename}}</td>
        <td>{{i.age}}</td>
        <td>{{i.address}}</td>
        <td>{{i.email}}</td>
        <td><img src="{{i.image.url}}" height="100px" width="150px"></td>

        <td><a href="{% url 'app1:edit' i.id %}" class="btn btn-primary">Edit</a></td>
        <td><a href="{% url 'app1:delete' i.id %}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}

</table>

{% endblock %}